.nav-wrapper{
    background-color: #05204A;
    /* background-color: (0,0,0,0.1); */
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}
.nav-content{
    /* max-width: 1300px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0 auto;
}
.logo{
    width: 20rem;
    height: auto;
}
.nav-content ul{
    display: flex;
    align-items: center;
    gap: 0.5;
    list-style: none;
}
.nav-content li{
    margin: 0 1.5rem;
}

.menu-item {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.menu-item::before {
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #6F8694 0%, #5d7381 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem; /* Initial bottom position */
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.donate-us{
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #05204A;
    padding: 0.6rem 2rem;
    border: 1px solid #5d7381;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3 ease;
}

.donate-us:hover{
    color: #fff;
    background: linear-gradient(90deg, #6F8694 0% ,#5d7381 100% );
    outline: 1.5px solid #5d7381;
}
.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    background: linear-gradient(90deg, #6F8694 -0.13% ,#5d7381 99.87% );
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}
.menu-btn span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
    margin-bottom: 0.3rem;
}
.menu-btn:hover{
    color: #0067a7;
    background: #05204A;
    border: 1px solid #6F8694;
}
.menu .cross-icon {
    position: absolute; /* Positioning relative to the nearest positioned ancestor */
    right: 1rem; /* Adjust as needed */
    font-size: 2rem; /* Adjust size of the cross icon */
    color: #05204A; /* Change color as needed */
    cursor: pointer; /* Change cursor to indicate it’s clickable */
    z-index: 3; /* Ensure it appears above other elements */
}

@media (max-width: 425px){
    .logo{
        width: 10rem;
        height: auto;
    }
}
@media (max-width: 769px){
    .menu-btn {
        display: flex;
    }
    .nav-content ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }


    nav ul.open {
        display: flex;
    }

    .nav-content ul li {
        width: 100%;
        text-align: center;
    }

    .nav-content ul li a {
        margin: 0.2rem 0.5rem;
    }
}

@media (max-width: 1325px){
    .nav-wrapper{
        padding: 0 2rem;
    }
}