$white: #F4FDFF;
$darkblue: #05204A;
$lightblue: #6F8695;

.home-banner {
    display: flex;
    flex-direction: row;
    background-image: url('../assets/images/home-banner-background.png');
    background-size: cover; 
    background-position: center; 
    background-color: #05204B; 
    width: 100%; 
    height: 100vh; 
    position: relative;
  }
  .active{
    background-color: #1d4ed8;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: transparent;
    background: linear-gradient(180deg, #05204B 0%, rgba(5, 32, 75, 0) 100%);
    color: white;
    // position: sticky;
    // top: 0;
    width: 100%;
    height: 10%;
} 
.home-logo img {
    width: 35%;
    height: auto;
    margin-left: 5%;
}

nav ul {
    display: flex;
    gap: 25px;
    // margin-top: 0.75rem;
    margin-right: 3%;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem 10px;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 20px;
}

nav ul li a:not(.active):hover {
    background-color:#6F8694 ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
    margin-bottom: 0.3rem;
}

nav .menu .cross-icon {
    position: absolute; /* Positioning relative to the nearest positioned ancestor */
    right: 1rem; /* Adjust as needed */
    font-size: 2rem; /* Adjust size of the cross icon */
    color: $darkblue; /* Change color as needed */
    cursor: pointer; /* Change cursor to indicate it’s clickable */
    z-index: 3; /* Ensure it appears above other elements */
}
.donate-us {
    position: relative;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #6F8694;
    font-size: 20px;
    color: white;
    padding: 0.7rem 0.5rem;
    margin: 0.4rem 0.2rem;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    border: 1px solid #6F8694;
}

.donate-us span {
    position: relative;
    color: white; /* Ensure text remains white */
    z-index: 1; /* Keep the text above the background */
}

.expandable-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0; /* Start with 0 width */
    background-color: #6F8694; /* Semi-transparent background effect */
    transition: width 0.5s ease, opacity 0.5s ease; /* Smooth transition */
    opacity: 0; /* Initially hidden */
    z-index: 0; /* Behind the text */
}

.donate-us:hover .expandable-div {
    width: 100%; /* Expand to full width on hover */
    opacity: 1; /* Make the background visible on hover */
}

.donate-us:hover {
    opacity: 1; /* Full opacity for the button on hover */
}

.banner-content {
    display: flex;               /* Flexbox layout */
    flex-direction: row;
    justify-content: space-between;  /* Space between logo, ayat, and image */
    align-items: center;             /* Vertically center items */
    width: 100%;                /* Full width */
    margin-top: -4rem;
}

.home-logo img {
    width: 90%;
    height: auto;
    margin-left: 12%;
    max-width: 784px;
    animation: homeLogo 2s ease-in-out;
}

.banner-img img {
    width: 700px;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: showCircle 1s ease; /* Apply the animation */
}

.banner-ayat {
    color: white;
    margin-right: 2rem;
    animation: ayatVerses 2s ease-in-out;
}

.banner-ayat p {
    font-family: Jameel Noori Nastaleeq;
    font-size: 69px;
    font-weight: 400;
    text-align: center;
    line-height: 96.9px;
}
.banner-ayat span {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 1.5;           /* Adjust line height for readability */
    display: block;             /* Ensure the text is in its own block */
    white-space: normal;        /* Allow text wrapping for better control */
    max-width: 100%;            /* Make sure it doesn't overflow the container */
    margin-top: 10px;           /* Add some spacing between the ayat and translation */
    padding: 0 1rem;            /* Add padding for spacing */
    text-align: center;
}
// .gradient-circle {
//     position: absolute;
//     width: 658px;
//     height: 647px;
//     top: 466px;
//     left: 891px;
//     opacity: 0px;
//     border-radius: 50%;
//     background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.4));
//     transform: translate(50%, 50%) scale(0); /* Start off-screen and scale to 0 */
//     animation: showCircle 2s forwards; /* Apply the animation */
//     z-index: 1;
// }
/* Animation for the gradient circle */
@keyframes showCircle {
    0% {
        transform: translate(50%, 50%) scale(0); /* Off-screen */
        opacity: 0;
    }
    100% {
        transform: translate(-0%, -0%) scale(1); /* Center and full size */
        opacity: 1;
    }
}
@keyframes ayatVerses {
    0% {
        transform: translate(100%, 100%) scale(0); /* Start from bottom-right */
        opacity: 0;  /* Fully transparent */
    }
    100% {
        transform: translate(0, 0) scale(1);  /* Move to its normal position */
        opacity: 1;  /* Fully visible */
    }
}
@keyframes homeLogo {
    0% {
        transform: translate(-100%, 100%) scale(0); /* Start from left-bottom */
        opacity: 0;  /* Fully transparent */
    }
    100% {
        transform: translate(0, 0) scale(1);  /* Move to its normal position */
        opacity: 1;  /* Fully visible */
    }
}


@media (max-width: 1024px) {
    nav ul {
        gap: 12px;
    }
    nav ul li a {
        
        font-size: 18px;
    }
    .home-logo img {
        width: 90%;
        margin-left: 8%;
        max-width: 600px;
        animation: homeLogo 2s ease-in-out;
        margin-top: 5rem;
    }
    .banner-ayat {
        display: none;
    }

    .banner-img img {
        width: 500px;
        position: absolute;
        bottom: 0;
        right: 0;
        animation: showCircle 1s ease; /* Apply the animation */
    }
}

/* Media query for screen width 576px to 768px */
@media (max-width: 768px) {

        .home-logo img {
           width: 15%;
           position: absolute; /* or 'fixed' if you want it to stay on scroll */
        top: 0;
        left: 0;
        }

    .home-logo img {
        width: 40%;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* Menu styling */
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        height: 65%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.open {
        display: flex;
    }

    /* Improved ul li styling */
    nav ul li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ddd; /* Add bottom border for separation */
        font-size: 1.2rem; /* Adjust font size for better readability */
    }

    nav ul li:last-child {
        border-bottom: none; /* Remove border on last item */
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
        color: $white; /* Set color for links */
        text-decoration: none;
        transition: color 0.3s ease;
    }

    nav ul li a:not(.active):hover {
        background-color:$lightblue ;
    }

    nav ul li a:hover {
        color: lightblue; /* Darker color on hover */
    }

    .donate-us {
        margin: auto;
        width: 30%;
    }

    /* Overlay adjustments */
    .home-banner.menu-open .banner-content.overlay {
        position: relative;
    }
    
    // .home-banner.menu-open .banner-content::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background-color: rgba(255, 0, 0, 0.5); /* Semi-transparent overlay */
    //     z-index: 1;
    // }

    /* Ensure nav menu appears above the overlay */
    nav ul.open {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: $darkblue;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Banner content styling */
    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -4rem;
        padding-left: 10px;
        width: 100%;
    }

    .home-logo img {
        width: 25%;                    /* Adjust the logo size */
        margin-left: 0;                 /* Remove margin to center the logo */
        max-width: 300px;               /* Further reduce max-width */
        animation: homeLogo 2s ease-in-out;
    }

    .banner-ayat p {
        font-size: 40px;                /* Reduce the font size further for smaller screens */
        line-height: 1.2;               /* Adjust line height */
    }

    .banner-ayat span {
        font-size: 16px;                /* Further reduce translation font size */
        padding: 0 1rem;                /* Maintain padding */
        text-align: center
    }
    nav .menu .cross-icon {
        color: $white; /* Change color as needed */
        font-weight: 800
    }
}

// @media (max-width: 480px) {
// .home-banner {
//     width: 100%; 
//     height: 900px; 
//   }
//   .home-logo img {
//    width: 15%;
//    position: absolute; /* or 'fixed' if you want it to stay on scroll */
//         top: 0;
//         left: 0;
// }
//     nav .menu {
//         display: flex;
//     }

//     nav {
//         flex-direction: column;
//         align-items: flex-start;
//         height: 65%;
//     }

//     nav ul {
//         display: none;
//         flex-direction: column;
//         width: 100%;
//         margin-bottom: 0.25rem;
//     }

//     nav ul.open {
//         display: flex;
//     }

//     nav ul li {
//         width: 100%;
//         text-align: center;
//     }

//     nav ul li a {
//         margin: 0.2rem 0.5rem;
//     }
//     .donate-us{
//         margin: auto;
//         width: 30%;
//     }
    
// }